<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"2rem","bottom":"2rem"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:2rem;padding-bottom:2rem">
    
    <!-- wp:group {"className":"ornamental-border"} -->
    <div class="wp-block-group ornamental-border"></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}}} -->
    <div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem">
        
        <!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"2rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontFamily":"dm-serif-text"} /-->
        
        <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"800px"}} /-->
        
    </div>
    <!-- /wp:group -->
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->